// 表单组
// -------------------------------------------
.form-group {
  @include border(bottom);
  @include border(top);
  //@extend %padding-left-m;
  background-color: $white;
}

.form-field {
  color: $font-primary;
  @include border(bottom);
}

.form-field:last-child{
  border-bottom: none;
}


.mint-field .mint-cell-title {
  width: 80px;
  color: $font-light;
  @extend %text-wrapper;
}
